services:
  # API
  api:
    container_name: api
    restart: always
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server/src:/app/src
      - api-image:/app/uploads
    env_file:
      - ./server/.env

    networks:
      - arc-one-network

  # NGINX
  nginx:
    container_name: nginx
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "3050:80"
    depends_on:
      - api
    networks:
      - arc-one-network

  # Mailhog
  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"
    volumes:
      - mailhog-data:/data
    networks:
      - arc-one-network

volumes:
  api-image:
  nginx-image:
  mailhog-data:

networks:
  arc-one-network:
    external: true
